@model OnlineConverter.Models.ViewModel.CurrencyVM

<div class="container p-0">

    <div style="margin-top:50px;">
        <form method="post" asp-action="DbClear">
            <button type="submit" class="btn btn-danger" style="margin-bottom:70px;">Очистить БД</button>
        </form>
    </div>
    <form method="post">
        <div class="row" style="margin-top:100px;">

            @* Блок конвертації *@
            <div class="border col-md- p-3 d-flex align-items-center justify-content-center" style="width:800px; height:300px; margin-bottom:30px;">

                <select name="firstCurrencyId" asp-items="@Model.CurrencySelectList" class="form-control text-left" style="height:35px; min-width:150px; width:auto;">
                    <option value="0" disabled selected class="text-center">Маю</option>
                </select>

                <input type="text" name="inputNum" id="inputNum" class="form-control m-3" style="height:35px; width:150px;" @* oninput="validateInput(this)" *@ />
                <button type="button" class="btn btn-primary">
                    <i class="fa-solid fa-right-left"></i>
                </button>

                <input id="convertedNumber" class="form-control m-3" style="height:35px; width:150px; background-color:#fff;" value="@Model.ConvertedNumber" readonly />

                <select name="secondCurrencyId" asp-items="@Model.CurrencySelectList" class="form-control text-left" style="height:35px; min-width:150px; width:auto;">
                    <option value="0" disabled selected class="text-center">Отримаю</option>
                </select>
            </div>

            @* Блок актуального курсу USD & EUR*@
            <div class="border col-md- p-0" style="width:400px; height:300px; margin-left:120px;">
                <div class="text-center h-25">
                    <span class="fs-3">Актуальний курс USD та EUR</span>
                </div>
                <div class="p-4">
                    <div class="row d-flex justify-content-between">
                        <span class="fs-1" style="max-width:105px; margin-left:30px;">USD:</span>
                        <span class="fs-1" style="max-width:105px; margin-right:30px;">36.7</span>
                    </div>
                    <div class="row mt-4 d-flex justify-content-between">
                        <span class="fs-1" style="max-width:105px; margin-left:30px;">EUR:</span>
                        <span class="fs-1" style="max-width:105px; margin-right:30px;">41.2</span>
                    </div>
                </div>
            </div>

            @* Блок графіка *@
            <div class="border col-md-" style="width:800px; height:300px; margin-top:30px;">
                <div class="text-center" style="height:42px;">
                    <span class="fs-4">Графік змін USD та EUR</span>
                </div>
                <div class="border h-75">
                </div>
            </div>

        </div>
    </form>
    
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            // Функция для отправки данных на сервер и обновления результата
            function updateConversion() {
                var formData = $('form').serialize();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Index")',
                    data: formData,
                    success: function (result) {
                        $('#convertedNumber').val(result.convertedNumber);
                        $('#conversionError').text('Помилка');
                    },
                    error: function () {
                        console.log('Error in AJAX request');
                    }
                });
            }

            // Обработчик события input для поля ввода числа
            $('#inputNum').on('input', function () {
                updateConversion();
            });

            // Обработчики события change для полей выбора валют
            $('select[name="firstCurrencyId"]').change(function () {
                updateConversion();
            });

            $('select[name="secondCurrencyId"]').change(function () {
                updateConversion();
            });
        });
    </script>

    @* <script>
        function validateInput(input) {
            // Заменить все символы, кроме цифр, точек и запятых, на пустую строку
            input.value = input.value.replace(/[^\d.,]/g, '');
        }
    </script> *@
}
