<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] OnlineConverter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineConverter.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <span class="navbar-brand" href="#">Online Converter</span>               
                <div class="justify-content-start" id="navbarNav">
                    @* <ul class="navbar-nav" style="flex-direction:row;">
                        <li class="nav-item">
                            <a class="nav-link active btn btn-primary me-3" style="color:#fff" aria-current="page" href="#">Реєстрація</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active btn btn-primary me-3" style="color:#fff; min-width:60px;" aria-current="page" href="#">Вхід</a>
                        </li>
                    </ul> *@
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="height: 0px;">
        <div>
            <ul class="navbar-nav d-flex justify-content-between" style="flex-direction: row; padding:15px;">
                <li>
                    &copy; 2023 - OnlineConverter
                </li>
                <li>
                    API - <a class="link-secondary" href="https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json">Національний банк України</a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://kit.fontawesome.com/cc9056737c.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
